#root {
  background-color: #F4F7FF;
}

.flag-button-container {
  display: block;
}

// .course-content-border {
//   .collapsible-card-lg {
//     border-radius: 0.375rem;
//   }
// }

.flag-button {
  &:hover {
    border: none;
    box-shadow: none;
  }
}

.flag-button-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  background: transparent;
  border: none;
  box-shadow: none;
}

.flag-button-icon {
  font-size: 2rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.flag-button-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flag-button-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #222;
}

.flag-button-subtitle {
  font-size: 0.95rem;
  color: #8a94a6;
}

.weekly-goal-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border: 1.5px solid #e0e4ea;
  border-radius: 1rem;
  padding: 1rem 1.25rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: border 0.2s, box-shadow 0.2s, background 0.2s;
  box-shadow: none;
}

.weekly-goal-card.selected {
  border: 2px solid #1AB7FF;
  background: #fff;
  box-shadow: 0 2px 8px 0 rgba(26, 183, 255, 0.08);
}

.weekly-goal-card:active {
  box-shadow: 0 2px 8px 0 rgba(33, 150, 243, 0.12);
}

.weekly-goal-switch {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.badge-border-radius {
  border-radius: 0.5rem;
}

.badge-gap {
  gap: 12px;

  .btn-link {
    color: #222121;
  }
}

.bookmarks-badge {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  height: 40px;
}

.badge-style {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  height: 40px;
  flex: 1 1 0;
}

.weekly-goal-reminder-box {
  background-color: #F5F5F5;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #535862;
}

.outline-sidebar-heading-wrapper {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

// .active-section {
//   border-bottom-left-radius: 1rem;
//   border-bottom-right-radius: 1rem;
// }

#outline-sidebar-outline {
  .collapsible-body {
    ol li>a {
      &:hover {
        // make it only for last item
        // border-bottom-left-radius: 1rem;
        // border-bottom-right-radius: 1rem;
      }
    }
  }
}

.sequence {
  border-radius: 1rem;
  background-color: #FFFFFF;
}

.outline-sidebar-wrapper {
  width: 25rem;
}

.outline-sidebar-heading-wrapper {
  border: 1px solid #E5E6E6;
}

#outline-sidebar-outline {
  border: 1px solid #E5E6E6;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  .bg-info-100 {
    border-left: 3px solid #2B2399;
    background-color: #E6EDFF !important;
  }

  .course-sidebar-section {
    border: none;
  }

  .mb-2 {
    margin-bottom: 0 !important;
  }
}

.course-sidebar-section {
  border-bottom: none;
  border-top: none;
}



// Course Tabs Navigation Styles
.course-tabs-navigation {
  background-color: #E6EDFF;
  font-weight: 400;
  border-radius: 4px;
  margin-left: 12px;
  margin-bottom: 1.5rem !important;

  .nav a {
    &:not(.active):hover {
      border-radius: 0.5rem;
    }
  }
}

.nav-underline-tabs .nav-link.active {
  background-color: #FFFFFF;
  border-bottom: none;
  border-radius: 0.5rem;
  font-weight: 600;
}

.nav-menu {
  padding: 0.5rem 0;
  margin-left: -4px;
}

.course-header {
  // margin-left: -15px; //uncomment based on view
}

/* Breadcrumb and Title styles */
.ca-breadcrumb-bg {
  // position: fixed;
  width: 100%;
  padding: 0.5rem 0 0 0;
}

.ca-breadcrumb-container {
  margin: 0 auto;
  padding: 1rem 0rem;
}

.ca-breadcrumb {
  color: #b0b7c3;
  font-size: 14px;
  margin-bottom: 8px;
}

.ca-breadcrumb .ca-breadcrumb-icon {
  opacity: 0.7;

  .custom-icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }
}

.ca-breadcrumb .ca-breadcrumb-divider {
  margin: 0 8px;
}

.ca-breadcrumb .ca-breadcrumb-current {
  color: #6b7280;
}

.ca-title {
  font-weight: 600;
  font-size: 20px;
  color: #22223b;
}

/* Main layout styles */
.ca-main-layout {
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
}

/* Sidebar styles */
.ca-sidebar {
  // position: sticky;
  // top: 17%;
  min-width: 220px;
  max-width: 260px;
  // width: 240px;
  // height: 100vh !important;
  // max-height: 100vh !important;
  // overflow-y: scroll !important;
  // overflow-x: hidden;
  background: transparent;
  // border-right: 1px solid #eee;
  z-index: 2;
  margin: 0;
  border-radius: 0 !important;
  padding-bottom: 0 !important;
  box-sizing: border-box;
  margin-left: 16px;
  margin-top: 16px;
  border-radius: 16px;
  position: sticky;
  top: 32px;
  align-self: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 32px);
  max-height: calc(100vh - 32px);

}

/* Main content styles */
.ca-main-content {
  flex: 1;
  padding-top: 1rem;
}

/* Responsive styles for Course Navigation */
.ca-mobile-nav {
  display: none;
  /* Hidden by default */
  width: 100%;
  padding: 16px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-bottom: 1px solid #eee;
}

.ca-mobile-nav-select {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;

  /* Remove default arrow and add a custom one with spacing */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 30px;
  /* Space for the arrow */
  // background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%236c757d%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px 10px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .ca-sidebar {
    display: none;
    /* Hide the desktop sidebar */
  }

  .ca-mobile-nav {
    display: block;
    /* Show the mobile dropdown */
  }

  .ca-main-layout {
    flex-direction: column;
  }

  // .ca-breadcrumb-bg {
  //   position: unset;
  // }

  // .ca-main-content {
  //   padding-top: 1rem;
  // }
}

.course-content-border {
  border-radius: 8px;

  .mb-2 {
    border-radius: 8px;
  }
}

.raised-card {
  // margin-top: -85px; // weekly learning goal card
  border-radius: 12px;
}

// Progress tab styles
.progress-tab-card-style {
  background-color: #FFFFFF !important;
  border-radius: 0.5rem !important;
}

.related-links-styles {
  padding: 1rem 1.5rem;
  // margin-top: -5px;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2) !important;
  font-size: 1.2rem !important;
  color: rgb(31.2, 50.4, 37.6) !important;

  .h4 {
    font-size: 1.5rem;
  }

  .pgn__hyperlink {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.donut-chart-label {
  transform: translateY(-2.3em);
}

.donut-chart-number {
  transform: translateY(0.1em);
}

.donut-ring,
.donut-segment {
  stroke-width: 4px;
}

.donut-ring,
.donut-segment,
.donut-hole {
  &.complete-stroke {
    stroke: #2B2399;
  }
}

.dates-tab-container {
  background-color: #FFFFFF;
  border: 1px solid #E5E6E6;
  border-radius: 1rem;
  padding-left: 2rem;

  .list-unstyled {

    .ml-3 {
      margin-left: 3rem !important;
      margin-top: 1rem !important;
    }

    .pb-4 {
      padding-bottom: 4.5rem !important;
    }

    .dates-info {
      background-color: #F5F5F5;
      border: 1px solid #E0E0E0;
      padding: 12px 16px;
      border-radius: 8px;
      margin-top: 4rem;
      margin-left: -3rem;
    }
  }
}


.first {
  background-color: #2B2399 !important;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    // transform: translate(-50%, -50%);
    width: 1rem;
    height: 0.5rem;
    border: 3px solid white;
    border-top: none;
    border-right: none;
    transform: translate(-50%, -60%) rotate(-45deg);
  }
}

.bg-warning-300 {
  border: 3px solid #2B2399 !important;
  background-color: #FFFFFF !important;
}

.today {
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.75rem;
    height: 0.75rem;
    background-color: #2B2399;
    border-radius: 50%;
  }
}

.text-dark {
  background-color: white !important;
  color: #222121 !important;
  font-size: 14px;
  // margin-left: -0.5rem;
  border: 1px solid #E0E0E0 !important;
}

.last {
  background-color: #FFFFFF !important;
  border-color: none !important;
}

.dates-day {
  .text-primary-700 {
    font-weight: 500;
  }

  span {
    .font-weight-bold {
      font-weight: normal !important;
      color: #9E9F9E !important;
      font-size: 14px;
    }
  }
}

.today-date-style {
  color: #2B2399 !important;
}

// Custom color for today's date line
.today-line {
  border-left-color: #2B2399 !important;
  border: 2px solid #2B2399;
}

.apexcharts-toolbar {
  display: none !important;
}

.grade-bar .grade-bar--passing {
  fill: #2B2399 !important;
}

.grade-bar rect {
    height: 8px !important;
}